@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.font-main {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

h1 {
  @apply text-3xl md:text-4xl font-bold text-accent-default font-main;
}
h2 {
  @apply text-2xl md:text-3xl font-bold text-accent-default font-main;
}
h3 {
  @apply text-xl md:text-2xl font-bold text-accent-default font-main;
}
h4 {
  @apply text-lg md:text-xl font-bold text-accent-default font-body;
}
